<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${msjCrear==null}?'Editar usuario':${msjCrear}"></title>

	<div th:insert="@{/layouts/bootstrap_imports.html}" th:remove="tag"></div>
	<div th:insert="@{/layouts/icons_imports.html}" th:remove="tag"></div>
	<div th:insert="@{/layouts/data_tables_imports.html}" th:remove="tag"></div>
	
</head>
<body>

	<div th:insert="layouts/navbar_admin.html" th:remove="tag"></div>
	
	<div class="container py-2">
		<div class="card bg-light mb-3">
			<div class="card-header">
				<h3 class="card-title text-success text-center" th:text="${msjCrear==null}?'Editar usuario':${msjCrear}"></h3>
			</div>
			
			<div class="card-body" >
				
				<h3 th:if="${usuario}==null" >El usuario no existe</h3>
				<a th:if="${usuario}==null" class="btn btn-dark" th:href="@{/usuario/lista}">Regresar</a>
				
				<form th:if="${usuario}!=null" th:id="'edit_form'" th:action="${msjCrear==null}?@{/usuario/editar}:@{/usuario/admin/registro}" th:object="${usuario}" th:method="post">
					<input type="hidden" th:field="*{id}">
					
					<div class="form-group row">
						<label class="col-form-label col-sm-2">Primer Nombre</label>
						<div class="">
							<input type="text" th:field="*{pNombre}" onkeyup="myFunction2('pNombre')" class="form-control form-control-sm" required/>
							<div class="alert-danger" th:if="${#fields.hasErrors('pNombre')}" th:errors="*{pNombre}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2">Segundo Nombre</label>
						<div class="">
							<input type="text" th:field="*{sNombre}" onkeyup="myFunction2('sNombre')" class="form-control form-control-sm"/>
							<div class="alert-danger" th:if="${#fields.hasErrors('sNombre')}" th:errors="*{sNombre}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2">Primer Apellido</label>
						<div>
							<input type="text" th:field="*{pApellido}" onkeyup="myFunction2('pApellido')" class="form-control form-control-sm" required/>
							<div class="alert-danger" th:if="${#fields.hasErrors('pApellido')}" th:errors="*{pApellido}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2">Segundo Apellido</label>
						<div>
							<input type="text" th:field="*{sApellido}" onkeyup="myFunction2('sApellido')" class="form-control form-control-sm" required/>
							<div class="alert-danger" th:if="${#fields.hasErrors('sApellido')}" th:errors="*{sApellido}"></div>
						</div>
					</div>
								
					<div class="form-group row"><!-- ###################################### CARNET o USERNAME ##################################### -->
						<label class="col-form-label col-sm-2">Carnet ó Username</label>
						
						<div>
							<input  type="text" th:field="*{username}" onkeyup="myFunction2('username')" class="form-control form-control-sm" required/>
							<input type="hidden" th:field="*{carnet}"/>
							<div class="alert-danger" th:if="${#fields.hasErrors('carnet')}" th:errors="*{carnet}"></div>
							<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
							<div class="alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
							
						</div>
						
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2">Email</label>
						<div>
							<input type="text" th:field="*{email}" class="form-control form-control-sm" required/>
							<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-form-label col-sm-2">Rol</label>
						<div>
							<select th:field="*{role}" class="form-control form-control-sm" >
								<option value="">-- Seleccionar Rol --</option>
								<option th:each="rol : ${roles}" th:text="${rol.nombre}" th:value="${rol.id}"></option>
							</select>
							<div class="alert-danger"
								th:if="${#fields.hasErrors('role')}"
								th:errors="*{role}"></div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-form-label col-sm-2">Estudiante</label>
						<div class="form-check py-2">
							<input type="checkbox" th:field="*{estudiante}"	class="form-check-input" onclick="esEstudiante()" />
							<label class="form-check-label" for="defaultCheck1"> Marcar para Sí</label>
						</div>
					</div>



					<button type="submit" class="btn btn-outline-success" th:text="${msjCrear==null}?'Actualizar':'Crear'">Actualizar</button>
					<a class="btn btn-dark" th:href="@{/usuario/lista}">Cancelar</a>
				</form>
				
			</div>
		</div>		
		
	</div>
<script type="text/javascript" th:src="@{/js/util/funcionesRegistro.js}"></script>
</body>
</html>