
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<a class="navbar-brand" href="#">Administración</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link"th:href="@{/ciclo/activo}">Inicio</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/departamento/lista}">Departamentos</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/materia/lista}">Materias</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/usuario/lista}">Usuarios</a>
					</li>
			</ul>
			<ul class="navbar-nav navbar-right mr-5">
				<li class="dropdown dropleft rounded bg-light">
					<a class="nav-link text-secondary" href=" " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false" sec:authentication="name"> Dropdown link </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						
						<form th:action="@{/logout}" id="formLogout" method="post">
						<button onclick="document.getElementById('formLogout').submit();" type="submit" class="dropdown-item">
							<i class="fas fa-sign-out-alt mr-2"></i>
							Cerrar sesión
						</button>
						</form> 
						
					</div>
				</li>
			</ul>			
		</div>
	</nav>
