
<!-- #################### Modal Editar ##################################-->

<div class="modal fade" id="editarModal" tabindex="-1" role="dialog"
	aria-labelledby="editarModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<!---------------header---------------------->
				<h5 class="modal-title" id="editarModalTitle">Editar Nombre del Departamento</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="cerrar">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			
<form th:action="@{/departamento/editar}" th:object="${editarDepartamento}" th:method="post"><!-- #### Formulario ### -->			
			<div class="modal-body">
				<!------------------body----------------------->
				
				<div class="form-group">
					<label for="nombre">Ingrese el nuevo  nombre del  departamento:</label> 
					<input type="text" class="form-control" th:field="*{nombre}"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
</form>
			<div class="modal-footer">
				<!----------------footer--------------------->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>
			
		</div>
			
	</div>
</div>
