<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Lista de materias</title>

	<div th:insert="@{/layouts/bootstrap_imports.html}" th:remove="tag"></div>
	<div th:insert="@{/layouts/icons_imports.html}" th:remove="tag"></div>
 	<div th:insert="@{/layouts/data_tables_imports.html}" th:remove="tag"></div>
        
</head>
<body>

	<div th:insert="@{/layouts/navbar_admin.html}" th:remove="tag"></div>
	
	<div class="container py-2">
		<div class="card bg-light mb-3 col-sm-10 px-0 mx-auto">
			<div class="card-header">
				<h3 class="card-title text-success">Listado de Materias de la Facultad</h3>
				<div th:insert="@{/layouts/alertas.html}" th:remove="tag"></div>
			</div>
			<div class="mt-2 ml-2">
				<a class="btn btn-success" th:href="@{/materia/agregar}">
					<i class="fa fa-plus mr-2" style="font-size:20px;color:white"></i> Nueva Materia
				</a>
			</div>
			<div class="card-body" style="overflow-x:scroll">
				<table id="tablaUsuarios" class="table table-sm">
					<thead>
						<tr>
							<th>Codigo</th>
							<th>Nombre</th>
							<th>Departamento</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="materia: ${materias}">
							
							<td th:text="${materia.codigo}"></td>
							
							<td>
								<a th:href="@{/materia/editar/}+${materia.id}" th:text="${materia.nombre}" ></a>
							</td>
							
							<td th:text="${materia.departamento!=null}?${materia.departamento.nombre} :'no establecido' "
								th:class="${materia.departamento!=null}?'text-success' : 'text-danger'"></td>
							
							<td>
								<button 
                                    type="button" 
                                    class="btn py-1 btn-light" 
                                    title="Eliminar"
                                    th:onclick="' confirmAction(\'' + ${materia.id} + '\',\''+'\') ' "
                                    data-toggle="modal" 
                                    data-target="#eliminarModal">
                                    <i class='fas fa-trash-alt text-danger'></i>
                                </button>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>

	<div th:insert="/materia/confirm-delete-modal.html" th:remove="tag"></div>
	<script type="text/javascript" th:src="@{/js/app_data_tables/tablaUsuarios.js}"></script>
	<script type="text/javascript" th:src="@{/js/util/listaMateriasEliminarModal.js}"></script>
</body>
</html>